# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Model files
*.h5
*.pkl
*.joblib
*.pt
*.onnx

# Data folders
data/
datasets/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db
