# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Model files
*.h5
*.pkl
*.joblib
*.pt
*.onnx

# Data folders
data/
datasets/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Database files
*.db

# Flutter (car_loan_app)
car_loan_app/.dart_tool/
car_loan_app/build/
car_loan_app/.flutter-plugins
car_loan_app/.flutter-plugins-dependencies
car_loan_app/.metadata
car_loan_app/.idea/
car_loan_app/*.iml

car_loan_app/android/.gradle/
car_loan_app/android/app/build/

car_loan_app/ios/Pods/
car_loan_app/ios/.symlinks/
car_loan_app/windows/flutter/ephemeral/

